parameters:
  level: 6
  paths:
    - src
  parallel:
    maximumNumberOfProcesses: 0
  excludePaths:
    - vendor
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    # Laravel Builder generic type - common in Laravel packages
    - identifier: missingType.generics
    # AnswerTrait from jsend-payload has default parameters
    - '#Missing parameter .+ in call to method .+::answerSuccess\(\)#'
    # Laravel Connection interface vs concrete class
    - '#Call to an undefined method Illuminate\\Database\\ConnectionInterface::getDriverName\(\)#'
    # Anonymous function return type with Builder
    - '#Anonymous function should return Illuminate\\Database\\Eloquent\\Builder but returns Illuminate\\Database\\Query\\Builder#'
    # Query Builder type covariance in Laravel
    - '#expects Illuminate\\Database\\Eloquent\\Builder, Illuminate\\Database\\Query\\Builder given#'
    # SoftDeletes trait methods - restore() is added by the trait
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::restore\(\)#'
